/**fonts*/
/*
@font-face {
	font-family: 'Oswald-Bold';
	font-style: normal;
	font-weight: 700;
	src: url('Oswald-Bold.ttf') format('ttf');

}
@font-face {
	font-family: 'Oswald-ExtraLight';
	font-style: normal;
	font-weight: 200;
	src: url('Oswald-ExtraLight.ttf') format('ttf');
}*/

@font-face {
	font-family: 'Oswald-Light';
	font-style: bold;
	font-weight: 300;
	src: url('~assets/fonts/Oswald-Light.ttf') format('ttf');
}
/*
@font-face {
	font-family: 'Oswald-Medium';
	font-style: normal;
	font-weight: 500;
	src: url('Oswald-Medium.ttf') format('ttf');
}
@font-face {
	font-family: 'Oswald-Regular';
	font-style: normal;
	font-weight: 400;
	src: url('Oswald-Regular.ttf') format('ttf');
}
@font-face {
	font-family: 'Oswald-SemiBold';
	font-style: bold;
	font-weight: 600;
	src: url('Oswald-SemiBold.ttf') format('ttf');
}*/